<div class="navbar has-shadow">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">首页</a>
                <a class="navbar-item">发现</a>
                <a class="navbar-item">话题</a>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <div class="control has-icons-right">
                            <input type="text" class="input" style="width: 20rem;" placeholder="搜索你感兴趣的内容...">
                            <span class="icon is-right">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="提问">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <a href="#" class="navbar-item">
                    <i class="fa fa-15 fa-bell"></i>
                </a>
                <a href="#" class="navbar-item">
                    <i class="fa fa-15 fa-comments"></i>
                </a>
                <a href="#" class="navbar-item">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>